.post img {
  width: 80px;
  height: 80px;
  //float: left;
  margin-right: 15px;
  max-width: 100%;
  height: auto;
}

.mainContainer {
  @include container;
  //padding: 0 10px 0 10px;
  margin-top: 30px;
}


.content {
  @include span(12 of 12);

  @include breakpoint($medium) {
    @include span(8 of 12);
  }
}

.sidebar {
  @include span(12 of 12);

  @include breakpoint($medium) {
    @include span(4 of 12 last);
  }
}

.post {
  margin:0 0 20px 0;
  @include container;
  background-color: $contentBg;
  padding: 0;
  border: 1px solid #e0e0e0;

  img {
    @include span(4 of 12);
  }

  .meta {
    @include span(8 of 12 last);
    padding: 15px;
  }

  .excerpt {

    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }

  .readmore {
    margin-top: 5px;
    text-align: right;
  }
}