footer {
  background-color: #202020;
  padding: 20px;
  margin-top: 20px;
}

.footerCont {
  @include container;
}

.footerCol{

  @include span(12 of 12);

  @include breakpoint($medium) {

    @include span(4 of 12);
    &:last-of-type {
      @include span(4 of 12 last);
    }
  }
}