

// HEADER STUFF, DO NOT TOUCH!!!
.header {
  @include container;

  @include breakpoint($medium) {
    margin-top: 80px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .logo {
    @include span(12 of 12);

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    } // End img

    @include breakpoint($medium) {
      @include span(4 of 12);
      @include vertical-align;
    }

  } // End logo

  .banner {
    @include span(12 of 12);

    @include breakpoint($medium) {
      @include span(8 of 12 last);
      @include vertical-align;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    } // End img
  } // End banner
} // End header

