

// HEADER STUFF, DO NOT TOUCH!!!
.header {
  @include container;
  @include clearfix();

  .logo {
    @include span(1 of 1);

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    } // End img

    @include breakpoint($medium) {
      @include span(4 of 12);
    }

  } // End logo

  .banner {
    @include span(1 of 1);

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;

      @include breakpoint($medium) {
        @include span(8 of 12 last);
      }
    } // End img
  } // End banner
} // End header


