body {
  background-color: $bgcolor;
  color: $fontcolor;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #039be5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #039be5;
  }
}