// Clearhack fix
// Usage:

//.selector {
//  @include -or extend- clearfix();
//}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}