// $bgcolor: #e1e3e4;
$bgcolor: #e2e8f2;
$darkBG: #202020;
$fontcolor: #161718;
$bodyFont: Roboto, Helvetica, sans-serif;


#{headings(1)} {
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
}


// Susy config:

$susy: (
        // debug: (image: show),
        columns: 12,
        container: 960px,
        gutters: .25,
        math: fluid,
        output: float,
        gutter-position: after,
        box-sizing: border-box,
        use-custom: (
                clearfix: true
        )
);


/* * * * * * * * * * * *
**
**    Breakpoints
**
* * * * * * * * * * * */

$medium: 640px;

