// $bgcolor: #e1e3e4;
// $bgcolor: #e2e8f2;
$bgcolor: #eeeeee;
$contentBg: #ffffff;
$darkBG: #202020;
$fontcolor: #212121;
$footerFontColor: #ffffff;
$bodyFont: Roboto, Helvetica, sans-serif;


#{headings(1)} {
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 34px;
        font-weight: 300;
        color: #039be5;
        line-height: 40px;
}

#{headings(2,6)} {
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 300;
        color: #039be5;
        line-height: 40px;
}


// Susy config:

$susy: (
        // debug: (image: show),
        columns: 12,
        container: 960px,
        gutters: .25,
        math: fluid,
        output: float,
        gutter-position: after,
        box-sizing: border-box,
        use-custom: (
                clearfix: true
        )
);


/* * * * * * * * * * * *
**
**    Breakpoints
**
* * * * * * * * * * * */

$medium: 640px;

